<div class="block-view__content-header">
  1.2. Сведения о заявителе, застройщике, техническом заказчике
</div>

<mat-accordion multi="true">

  <mat-expansion-panel expanded>
    <mat-expansion-panel-header [collapsedHeight]="'60px'">
      <mat-panel-title>
        Сведения о заявителе
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
              <label>Наименование организации:</label>
            </div>
            <div class="col-sm-8">
              <div>Общество с ограниченной ответственностью "Группа компаний застройщиков Сибири и Дальнего востока"</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
              <label>Тип заявителя:</label>
            </div>
            <div class="col-sm-8">
              <div>Юридическое лицо</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
              <label>ИНН:</label>
            </div>
            <div class="col-sm-8">
              <div>5555555555</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <p class="help-block">* Эти сведения были заполнены автоматически из данных об объекте</p>
          </div>
          <div class="col-sm-4">
            <div class="text-right">
              <a href="#" class="text-uppercase">Изменить заявителя</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="hr-dashed">

    <div class="form-subtitle">Идентификационные данные заявителя</div>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Место нахождения, адрес:</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <div class="row">
      <div class="col-xs-4">
        <mat-form-field>
          <mat-label>ОГРН:</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-xs-4">
        <mat-form-field>
          <mat-label>КПП:</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <hr class="hr-dashed">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Телефон:</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>E-mail:</mat-label>
      <input matInput>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="'60px'">
      <mat-panel-title>
        Сведения о застройщике
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Наименование организации:</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Место нахождения, адрес:</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <div class="row">
      <div class="col-xs-4">
        <mat-form-field>
          <mat-label>ОГРН:</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-xs-4">
        <mat-form-field>
          <mat-label>ИНН:</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-xs-4">
        <mat-form-field>
          <mat-label>КПП:</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <hr class="hr-dashed">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Телефон:</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>E-mail:</mat-label>
      <input matInput>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="'60px'">
      <mat-panel-title>
        Сведения о техническом заказчике
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Наименование организации:</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Место нахождения, адрес:</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <div class="row">
      <div class="col-xs-4">
        <mat-form-field>
          <mat-label>ОГРН:</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-xs-4">
        <mat-form-field>
          <mat-label>ИНН:</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-xs-4">
        <mat-form-field>
          <mat-label>КПП:</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <hr class="hr-dashed">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Телефон:</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>E-mail:</mat-label>
      <input matInput>
    </mat-form-field>
  </mat-expansion-panel>

</mat-accordion>
