<div class="block-view__content-header">
  1.1. Сведения об организации по проведению экспертизы
</div>

<mat-form-field class="full-width" appearance="outline">
  <mat-label>Наименование организации:</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
<mat-form-field class="full-width" appearance="outline">
  <mat-label>Место нахождения, адрес:</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
<div class="row">
  <div class="col-xs-4">
    <mat-form-field>
      <mat-label>ОГРН:</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="col-xs-4">
    <mat-form-field>
      <mat-label>ИНН:</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="col-xs-4">
    <mat-form-field>
      <mat-label>КПП:</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</div>
<hr class="hr-dashed">
<mat-form-field class="full-width" appearance="outline">
  <mat-label>Телефон:</mat-label>
  <input matInput type="tel">
</mat-form-field>
<mat-form-field class="full-width" appearance="outline">
  <mat-label>E-mail:</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field class="full-width" appearance="outline">
  <mat-label>Сайт:</mat-label>
  <input matInput>
</mat-form-field>
