<div class="block-view__content-header">
  Работа эксперта
</div>

<div class="custom-workform">
  <div class="custom-workform__tools">
    <button mat-stroked-button matTooltip="Создать заголовок">Заголовок</button>
    <button mat-stroked-button matTooltip="Создать текстовый блок">Текст</button>
    <button mat-stroked-button matTooltip="Создать таблицу">Таблица</button>
  </div>
  <div class="custom-workform__content">
    <mat-form-field class="full-width">
      <input matInput value="Введите заголовок">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <textarea matInput placeholder="Введите текст"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <textarea matInput></textarea>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <textarea matInput></textarea>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <textarea matInput></textarea>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <textarea matInput></textarea>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <textarea matInput></textarea>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <textarea matInput></textarea>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <textarea matInput></textarea>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
</div>
