<mat-card class="main-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="text-light">verified_user</mat-icon>
    </div>
    <mat-card-title class="text-muted">Заключение</mat-card-title>
    <button mat-button class="fs-13 ml-auto"><mat-icon>save_alt</mat-icon> Загрузить готовое заключение</button>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="m-t-20">

    <nav mat-tab-nav-bar class="sub-nav-tabs text-uppercase">
      <a mat-tab-link *ngFor="let link of links"
         [routerLink]="link.path"
         (click)="activeLink = link"
         [active]="activeLink == link">
        <mat-icon class="sub-nav-tabs__icon">{{link.icon}}</mat-icon>
        {{link.name}}
      </a>
    </nav>

    <router-outlet></router-outlet>

  </mat-card-content>
</mat-card>
