/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(243, 243, 244);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.text-black {
  color: #000;
}

.text-light {
  color: #999;
}

.text-green {
  color: #24b918;
}

.mat-checkbox-layout {
  margin-bottom: 0;
}

.mat-card-header .mat-card-title {
  font-size: 19px;
  font-weight: 100;
  text-transform: uppercase;
}

.container-maxwidth-1400, .maxwidth-1400px {
  max-width: 1400px!important;
}

.main-header {
  .mat-toolbar {
    background-color: #143d66;
    color: #fff;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }
}

.page-title {
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-nav {
  .mat-tab-header {
    margin-bottom: 20px;
  }

  > .mat-tab-group > .mat-tab-header {
    margin-bottom: 30px;
  }

  .main-nav-tabs .mat-tab-link {
    height: 38px;
    color: #3f51b5;
    opacity: 1;
    font-size: 13px;
    text-transform: uppercase;
  }

  .main-nav-tabs .mat-tab-label-active {
    background-color: #e0e0e0;
  }
}

.sub-nav-tabs {
  > .mat-tab-link-container {
    padding-bottom: 17px;
  }

  .mat-tab-link{
    height: 35px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    font-size: 11px;
  }

  > .mat-tab-link-container .mat-tab-label-active {
    opacity: 1;
  }

  .mat-icon {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    font-size: 15px;
  }
}

/*
=========================================
flex-box
=========================================
*/

.flex-box {
  display: flex;
}

/*
=========================================
block-view
=========================================
*/

.block-view {
  display: flex;
}

.block-view__aside {
  position: relative;
  padding-right: 48px;
}

.block-view__nav {
  position: sticky;
  top: 10px;
  width: 330px;
}

.block-view__nav-content {
  .mat-tree {
    background: rgba(0,0,0,.03);
  }
}

.block-view__content {
  flex-grow: 1;
}

.mat-nested-tree-node, .mat-tree-node {
  padding: 10px 0;
  font-weight: 400;
  font-size: 12px;

  .material-icons {
    font-size: 16px;
  }
}

.mat-tree-node[role="group"] {
  border-top: 1px solid #ddd;

  .mat-checkbox-layout .mat-checkbox-label {
    font-weight: 400;
  }
}

.mat-tree-node:not([role="group"]) {
  padding-left: 15px !important;
  padding-right: 10px;
  color: rgba(0,0,0,.54);

  .mat-checkbox-layout .mat-checkbox-label {
    font-weight: 400;
  }
}

.mat-tree-node__tools {
  .mat-button {
    min-width: auto;
    padding: 0 5px;
  }
}

.block-view__content-header {
  margin: 20px 0 40px;
  font-size: 20px;
  font-weight: 300;
}
