<div class="block-view">
  <div class="block-view__aside">
    <div class="block-view__nav">
      <ngx-simplebar>
        <ul class="custom-tree">

          <ng-container
            *ngFor="let node of nodeList"
            [ngTemplateOutlet]="childNodesTemplate"
            [ngTemplateOutletContext]="{ node: node, nodeList: nodeList }"
          ></ng-container>

          <ng-template #childNodesTemplate let-node="node" let-nodeList="nodeList">

            <custom-tree-node
              [nodeList]="nodeList"
              [node]="node"
              (createChildNode)="createChildNode(node)"
              (createNode)="createNode(nodeList, node)"
            >

              <ng-container *ngIf="node.childList?.length">

                <ul class="custom-tree__sub-list">

                  <ng-container
                    *ngFor="let childNode of node.childList"
                    [ngTemplateOutlet]="childNodesTemplate"
                    [ngTemplateOutletContext]="{ node: childNode,  nodeList: node.childList }"
                  ></ng-container>

                </ul>

              </ng-container>

            </custom-tree-node>

          </ng-template>

        </ul>
      </ngx-simplebar>
    </div>
  </div>

  <div class="block-view__content">

    <ng-container [ngSwitch]="curentNodeName">
      <declaration-info
        *ngSwitchCase="'1.1. Сведения об организации по проведению экспертизы'">
      </declaration-info>

      <declarant-developer-customer-info
        *ngSwitchCase="'1.2. Сведения о заявителе, застройщике, техническом заказчике'">
      </declarant-developer-customer-info>

      <grounds-for-expertise
        *ngSwitchCase="'1.3. Основания для проведения экспертизы'">
      </grounds-for-expertise>

      <expert-work
        *ngSwitchCase="'Работа эксперта'">
      </expert-work>

      <expert-work
        *ngSwitchDefault>
      </expert-work>

    </ng-container>

  </div>
</div>
