<div class="block-view">
  <div class="block-view__aside">
    <div class="block-view__nav">
      <div class="block-view__nav-content">

        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <div style="cursor: pointer" (click)="curentNodeName = node.item">
              {{node.item}}
            </div>
          </mat-tree-node>

          <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <mat-form-field>
              <input matInput #itemValue placeholder="Новый пункт...">
            </mat-form-field>
            <div class="mat-tree-node__tools">
              <button mat-button
                      matTooltip="Сохранить"
                      matTooltipPosition="right"
                      (click)="saveNode(node, itemValue.value)">
                <mat-icon class="text-green">done</mat-icon>
              </button>
              <button mat-button
                      matTooltip="Отмена"
                      matTooltipPosition="right"
                      (click)="removeNode(node, itemValue.value)">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </mat-tree-node>

          <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'toggle ' + node.filename">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <div class="text-black" style="cursor: pointer"
                 (click)="curentNodeName = node.item"
            >
              {{node.item}}
            </div>
            <button mat-icon-button (click)="addNewItem(node)">
              <mat-icon>add</mat-icon>
            </button>
          </mat-tree-node>
        </mat-tree>

      </div>
    </div>
  </div>

  <div class="block-view__content">

    <ng-container [ngSwitch]="curentNodeName">
      <declaration-info
        *ngSwitchCase="'1.1. Сведения об организации по проведению экспертизы'">
      </declaration-info>

      <declarant-developer-customer-info
        *ngSwitchCase="'1.2. Сведения о заявителе, застройщике, техническом заказчике'">
      </declarant-developer-customer-info>

      <grounds-for-expertise
        *ngSwitchCase="'1.3. Основания для проведения экспертизы'">
      </grounds-for-expertise>

      <expert-work
        *ngSwitchCase="'Работа эксперта'">
      </expert-work>

      <expert-work
        *ngSwitchDefault>
      </expert-work>

    </ng-container>

  </div>
</div>
