<div class="block-view">
  <div class="block-view__aside">
    <div class="block-view__nav">
      <div class="block-view__nav-content">

        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <button mat-icon-button disabled></button>
            {{node.item}}
          </mat-tree-node>

          <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <mat-form-field>
              <input matInput #itemValue placeholder="Новый пункт...">
            </mat-form-field>
            <div class="mat-tree-node__tools">
              <button mat-button
                      matTooltip="Сохранить"
                      matTooltipPosition="right"
                      (click)="saveNode(node, itemValue.value)">
                <mat-icon class="text-green">done</mat-icon>
              </button>
              <button mat-button
                      matTooltip="Отмена"
                      matTooltipPosition="right"
                      (click)="removeNode(node, itemValue.value)">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </mat-tree-node>

          <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'toggle ' + node.filename">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <a class="text-black" href="#">{{node.item}}</a>
            <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
          </mat-tree-node>
        </mat-tree>

      </div>
    </div>
  </div>

  <div class="block-view__content">
    <div class="block-view__content-header">
      1. Общие положения и сведения о заключении экспертизы
    </div>

    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Сведения об организации по проведению экспертизы
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Наименование организации:</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Место нахождения, адрес:</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <div class="row">
          <div class="col-xs-4">
            <mat-form-field>
              <mat-label>ОГРН:</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-xs-4">
            <mat-form-field>
              <mat-label>ИНН:</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-xs-4">
            <mat-form-field>
              <mat-label>КПП:</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
        <hr class="hr-dashed">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Телефон:</mat-label>
          <input matInput type="tel">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>E-mail:</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Сайт:</mat-label>
          <input matInput>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Сведения о заявителе
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="help-block">* Следующие поля были заполнены автоматически из данных об объекте</p>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Наименование организации:</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Место нахождения, адрес:</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <div class="row">
          <div class="col-xs-4">
            <mat-form-field>
              <mat-label>ОГРН:</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-xs-4">
            <mat-form-field>
              <mat-label>ИНН:</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-xs-4">
            <mat-form-field>
              <mat-label>КПП:</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
        <hr class="hr-dashed">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Телефон:</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>E-mail:</mat-label>
          <input matInput>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Сведения о застройщике
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Наименование организации:</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Место нахождения, адрес:</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <div class="row">
          <div class="col-xs-4">
            <mat-form-field>
              <mat-label>ОГРН:</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-xs-4">
            <mat-form-field>
              <mat-label>ИНН:</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-xs-4">
            <mat-form-field>
              <mat-label>КПП:</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
        <hr class="hr-dashed">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Телефон:</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>E-mail:</mat-label>
          <input matInput>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Сведения о техническом заказчике
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Наименование организации:</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Место нахождения, адрес:</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <div class="row">
          <div class="col-xs-4">
            <mat-form-field>
              <mat-label>ОГРН:</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-xs-4">
            <mat-form-field>
              <mat-label>ИНН:</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-xs-4">
            <mat-form-field>
              <mat-label>КПП:</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
        <hr class="hr-dashed">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Телефон:</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>E-mail:</mat-label>
          <input matInput>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Основания для проведения экспертизы
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Age">
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
